/* HTML: <div class="loader"></div> */

#loading{
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  gap: 12px;
  background:linear-gradient(36deg,rgba(18, 0, 0, 1) 0%, rgb(78, 48, 5) 51%, rgba(40, 51, 3, 1) 100%);
  color: #fff;
  z-index: 99999;
}

#loading.is-hidden{ display:none; }

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #ffc400;
  border-radius: 50%;
  display: grid;
  background: 
    conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
    -4px -4px/calc(50% + 2px) calc(50% + 2px),
    radial-gradient(farthest-side,currentColor 6px,#0000 7px calc(100% - 6px),currentColor calc(100% - 5px)) no-repeat;
  animation: l10 2s infinite linear;
  position: relative;
}
.loader:before {
  content: "";
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes l10 {to{transform: rotate(.5turn)}}